<section id="shopping-cart">
  <div class="cart">
    <img src="./assets/images/shopping-cart.svg" alt="">
    <h2>Carrinho</h2>
  </div>

  <div class="cart-content">
    <div class="cart-prices" *ngFor="let i of [1,2,3]">
      <h2>{{ productNameSize.length > 13 ? productNameSize.substring(0,13) + '...' : productNameSize }}</h2>
      <h3>R$26,10</h3>
      <img src="./assets/images/close.svg" alt="">
    </div>
  </div>

  <div class="cart-total">
    <h2>Total</h2>
    <h3>R$ 44,50</h3>
  </div>

  <div class="order-closing">
    <a class="clear">
      <img src="./assets/images/trash.svg" alt="">
      <p>Limpar</p>
    </a>

    <a class="close" [routerLink]="['/order']">
      <img src="./assets/images/credit-card.svg" alt="">
      <p>Fechar Pedido</p>
    </a>
  </div>
</section>