#shopping-cart {
  width: 100%;
  background-color: white;

  img {
    width: 20px;
  }

  .cart {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C3C3C3;
    padding: 10px;

    h2 {
      font-size: 22px;
      font-weight: 500;
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .cart-content {
    padding: 10px;
    border-bottom: 1px solid #C3C3C3;
    
    .cart-prices {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        width: 47.5%;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
      }
        
      h3 {
        width: 47.5%;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0;
      }

      img {
        width: 5%;
      }
    }
  }

  .cart-total {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #C3C3C3;

    h2 {
      width: 47.5%;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 0;
    }
    
    h3 {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .order-closing {
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    a {
      display: inline-block;
      padding: 10px;
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }

      p {
        font-size: 14px;
        color: white;
        margin-bottom: 0;
        font-weight: 500;
      }
    }

    .clear {
      background-color: #990000;
    }

    .close {
      background-color: #008D4C;
      margin-left: 20px;
    }
  }
}