<div class="order-table">
  <div class="title">
    <p class="amount">Quantidade</p>
    <p class="item">Item</p>
    <p class="description">Descrição</p>
    <p class="total">Subtotal</p>
  </div>

  <div class="items" *ngFor="let i of [1,2,3]">
    <div class="numbers amount">
      <img src="./assets/images/minus.svg" alt="">
      <p>3</p>
      <img src="./assets/images/plus_2.svg" alt="">
    </div>
    <p class="item">Cupcake</p>
    <p class="description">Cup Cake recheado de Doce de Leite</p>
    <p class="total">R$26,10</p>
    <div class="image">
      <img src="./assets/images/close.svg" alt="">
    </div>
  </div>
</div>