<section id="order">
  <div class="container">
    <div class="content-background" *ngIf="!validar">
      <div class="finish">
        <img src="./assets/images/shopping-cart.svg" alt="">
        <h2>Finalize seu pedido</h2>
      </div>

      <form [formGroup]="formContent" novalidade>
        <div class="form-content">
          <h3>Seus dados</h3>
          <div class="inputs">
            <div class="input-validation">
              <input [ngClass]="inputValidation('name')" formControlName="name" type="text" placeholder="Nome">
              <div class="message">
                <p *ngIf="!formContent.get('name').valid && formContent.get('name').touched">campo obrigatório
                </p>
              </div>
            </div>
            <div class="input-validation">
              <input [ngClass]="inputValidation('email')" formControlName="email" type="email" placeholder="E-mail">
              <div class="message">
                <p *ngIf="!formContent.get('email').valid && formContent.get('email').touched">campo
                  obrigatório</p>
              </div>
            </div>
            <div class="input-validation">
              <input [ngClass]="inputValidation('confirm')" formControlName="confirm" type="email"
                placeholder="Confirmação do email">
              <div class="message">
                <p *ngIf="!formContent.get('confirm').valid && formContent.get('confirm').touched">campo
                  obrigatório</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-content">
          <h3>Endereço de entrega</h3>
          <div class="inputs">
            <div class="input-validation">
              <input [ngClass]="inputValidation('address')" formControlName="address" type="text"
                placeholder="Endereço">
              <div class="message">
                <p *ngIf="!this.formContent.get('address').valid && this.formContent.get('address').touched">campo
                  obrigatório</p>
              </div>
            </div>
            <div class="input-validation">
              <input [ngClass]="inputValidation('number')" formControlName="number" type="email" placeholder="Número">
              <div class="message">
                <p *ngIf="!this.formContent.get('number').valid && this.formContent.get('number').touched">campo
                  obrigatório</p>
              </div>
            </div>
            <div class="input-validation">
              <input formControlName="complement" type="email" placeholder="Complemento">
            </div>
          </div>
        </div>

        <div class="order-items" *ngIf="getDetailFromCart().length">
          <h3>Itens do pedido:</h3>
          <app-order-item [detail]="getDetailFromCart()" (increase)="addQuantity($event)"
            (decrease)="removeQuantity($event)" (remove)="removeItem($event)"></app-order-item>
        </div>

        <div class="order-items" *ngIf="!getDetailFromCart().length">
          <p>Não há pedidos no carrinho</p>
        </div>

        <div class="finishing-order">
          <div class="payment-types">
            <h3>Formas de pagamento:</h3>

            <div class="control-radio" formGroupName="radios">
              <div class="radio-button">
                <input type="radio" value="money" formControlName="radio_button">
                <p>Dinheiro</p>
              </div>

              <div class="radio-button">
                <input type="radio" value="credit-card" formControlName="radio_button">
                <p>Cartão de crédito</p>
              </div>

              <div class="radio-button">
                <input type="radio" value="worth-eating" formControlName="radio_button">
                <p>Vale refeição</p>
              </div>
            </div>
          </div>

          <div class="shipping-total">
            <h3>Frete e total:</h3>
            <div class="shipping-row border">
              <p>Itens</p>
              <p>{{ total() | currency:'BRL' }}</p>
            </div>

            <div class="shipping-row">
              <p>Frete</p>
              <p>R$ 8.00</p>
            </div>

            <div class="shipping-row margin">
              <p>Total</p>
              <p>{{ total() | currency:'BRL' }}</p>
            </div>

            <button [ngClass]="formValidation()" (click)="submitForm()" type="button" [disabled]="!formContent.valid">
              <img src="./assets/images/credit-card.svg" alt="">
              Concluir Pedido
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="content-background alignment" *ngIf="validar">
      <h1>Pedido Concluído!</h1>
      <p>Seu pedido foi recebido pelo restaurante. Prepare a mesa que a comida está chegando!</p>
    </div>
  </div>
</section>