<section id="order">
  <div class="container">
    <div class="content-background">
      <div class="finish">
        <img src="./assets/images/shopping-cart.svg" alt="">
        <h2>Finalize seu pedido</h2>
      </div>

      <form>
        <div class="form-content">
          <h3>Seus dados</h3>
          <div class="inputs">
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="E-mail">
            <input type="email" placeholder="Confirmação do email">
          </div>
        </div>

        <div class="form-content">
          <h3>Endereço de entrega</h3>
          <div class="inputs">
            <input type="text" placeholder="Endereço">
            <input type="email" placeholder="Número">
            <input type="email" placeholder="Complemento">
          </div>
        </div>

        <div class="order-items">
          <h3>Itens do pedido:</h3>
          <!-- <app-order-items></app-order-items> -->
        </div>

        <div class="finishing-order">
          <div class="payment-types">

          </div>

          <div class="shipping-total">

          </div>
        </div>
      </form>
    </div>
  </div>
</section>